#App
CI_ENV="development"
APP_NAME="Engetecnica App"
APP_UPLOAD_MAX_SIZE=50
APP_TIMEZONE="America/Sao_Paulo"
APP_MONETARY="pt_BR"
APP_BASE_URL="http://127.0.0.1/agencia/sga-e.eng.br/"

#Email Notifications
APP_NOTIFICATION_FROM_EMAIL="from@example.com"
APP_NOTIFICATION_TO_NAME="Engetecnica Admin"
APP_NOTIFICATION_TO_EMAIL="adm@example.com"
#APP_NOTIFICATION_TO_NAME2="Engetecnica Admin 2"
#APP_NOTIFICATION_TO_EMAIL2="adm2@example.com"

#Email Send smpt
SMTP_USER="notificacoes@engetecnica.xyz"
SMTP_PASS="Baill12345#Baill12345#"
SMTP_HOST="mail.engetecnica.xyz"
SMTP_PORT="465"
SMTP_AUTH="true"
SMTP_REPLY="notificacoes@engetecnica.xyz"

#OneSignal
ONESIGNAL_APPID="825688da-a801-4c3e-9d05-8d643c5af4e7"
ONESIGNAL_APIKEY="YjhiZGU5ZjItMThhNy00M2I3LTk2ZjctMmFmNzY2Mzg5MDIz"
ONESIGNAL_APIURL="https://onesignal.com"
ONESIGNAL_SAFARI_WEB_ID="web.onesignal.auto.44e66786-7e94-4ade-8822-3a1650cda83f"


#Database
#DB_URL=""
#DB_DATABASE_PREFIX=""
#DB_MG_VERSION=""
DB_DRIVER="mysqli"
DB_PORT=3306
DB_HOST="localhost"
DB_USER="root"
DB_PASS="root"
DB_DATABASE="engetecnica"
#DB_DATABASE_PREFIX=""
#DB_MG_VERSION=""
