log/*
.vscode/launch.json
application/cache/*
assets/uploads/*/*
vendor/*
!application/cache/.gitkeep
!assets/uploads/*/.gitkeep
!assets/uploads/.gitkeep
.DS_Store
log/*
application/config/database.php
