*log*
application/cache/*
!application/cache/.gitkeep
assets/uploads/*/*
!assets/uploads/*/.gitkeep
!assets/uploads/.gitkeep
vendor/
application/config/config.php
application/config/database.php
*.DS_Store
local_bd.sql
*dump_*
.env