*log*
application/cache/*
!application/cache/.gitkeep
application/config/database.php
application/config/config.php
assets/uploads/*/*
!assets/uploads/*/.gitkeep
!assets/uploads/.gitkeep
vendor
*.DS_Store
local_bd.sql