:root {
  --laranja: #fd9e0f;
}

html, body{
  font-family: "Poppins", sans-serif;
  counter-reset: page;
}

footer {
  font-size: 9px;
  color: #000;
  text-align: left;
  position: fixed;
  bottom: 0 !important;
  width: 100%;
  z-index: 10;
  margin-top: 100px;
  counter-increment: page;
}

footer::before
{
  content: 'counter(page)';
  color: #000;
  width: 100px;
  height: 100px;
}

@page {
  margin: 2cm;
}


header, footer{
  width: 100%;
}

header{
  margin-bottom: 20px;
}

footer{
  margin-top: 20px;
}

header img, footer img {
  width: 100%;
  display: none;
}


.contrato {
  padding: 10px;
  margin-top: 20px;
}
.contrato h1
.contrato h2, 
.contrato h3, 
.contrato p, 
.contrato li {
  text-align: left;
  text-justify: center;
}
h1{
  font-size: 1.5rem;
}
h1  b {
  color: #909090;
}
.contrato h2{
  font-size: 1rem;
}
.contrato h3{
  font-size: 0.9rem;
}
.contrato p, .contrato li{
  font-size: .75rem;
}
.contrato li{
  font-size: .85rem;
}

.tabela {
  border: solid 1px #ccc;
  border-spacing: 0;
  margin-top: 40px;
}
.tabela th,.tabela tr, .tabela td{
  border: solid .5px  #ccc;
  border-spacing: 0;
}
.tabela th{
    font-size: 0.8rem;
    font-weight: lighter;
    padding: .5rem;
    background-color: #ec9819;
}
.tabela tr{
  widows: 5;
  orphans: 3;
}
.tabela td {
  text-align: center;
}
.tabela tbody td {
  font-size: 12px;
  padding: 3px;
}

.assinaturas{
  margin-top: 200px;
  widows: 2;
  orphans: 0;
}
.assinatura{
  margin-top: 40px;
  orphans: 0;
  widows: 4;
}